/*body {
    background-color: #D6CACA;
} */
.wrapper{
    width: 875px;
    margin: 50px auto;
    position: relative;
}
/*axel{  
    background-color: #ADF0DE;
}*/
.hide{
    display: none;
}
.my_input{
    width: 20px;
    text-align: center;
    font-size: 16px;
}
.question{
    display: inline-block;
    position: absolute;
    z-index: 10;
    font-size: 36px;
    top: 50px;
    left: 350px;
}
.input_question{
    font-size: 36px;
    width: 45px;
    text-align: center;
    margin:0;
}
.error{
    color: red;
}
.number{
    font-size: 20px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    width: 20px;
}
.numberA,
.numberB
{
    display: inline-block;
    padding: 0 5px;
    margin:0;
}
.error2{
    background-color: #F3A648;
}